/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset Code --*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Raleway', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.namesHeader{
       font-size: 2.0em;
    color: rgb(4, 19, 102);
   


}
.newrow{
    margin-left:57px;
    margin-right:85px;


}

.fontInfo{
    color: rgb(4, 19, 102);

}

h1, h2, h3, h4, h5, h6 {
	/*margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing:1px;*/
}
p {
	
}
ul {
	margin:0;
	padding:0;
}
label {

}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
}
/*--banner start here--*/
.banner {
  background: url(../img/heights5.jpg)no-repeat 0px -148px;
  background-size: cover;
  min-height: 650px;
}

/*--banner end here--*/


/*-- //Reset Code --*/
/*--header start here--*/
.header {
   background-color: rgb(4, 19, 102);
}
.logo {
    float: left;
}
.phone {
    float: left;
    width: 48%;
	text-align:center;
}
}
span.menu {
  display: none;
}
.logo h1 {
  font-size: 2.5em;
  margin: 0em;
}
.logo h1 a{
      color: #fff;
  text-decoration: none;
}
.header-main {
    padding: 1.2em 0;
}
/*--search-button--*/
form.navbar-form.navbar-right {
  margin: 0;
  padding: 0;
}
span.glyphicon.glyphicon-search {
    font-size: 1.5em;
	       color: #fff;
}
span.glyphicon.glyphicon-search:focus {
    outline: none;
}
@media(max-width:768px){
.top-nav-left ul li{
	display:block;
	float:none;
	margin: 0em;
	padding: 0.6em 0;
	text-align: center;
}
.top-nav-left ul li a{
	color:#fff;
}
.top-nav-left ul li a:hover{
	color:#000;
}
.top-nav-left ul{
	display:none;
	background:rgba(153, 197, 10, 0.45);
	position:absolute;
	width:100%;
	z-index: 999;
	left: 0%;
	margin: 0.7em 0em;
}
.top-nav-left span.menu{
	display: block;
	width: 100%;
	position:relative;
	padding: 0.8em 1em;
}
}
/*--header end here--*/

/*--top-nav--*/
.top-nav {
	width:100%;
	background:rgba(158, 143, 102, 0.34);
}
ul.nav.navbar-nav{
    float: none;
    text-align: center;
}
nav.navbar.navbar-default {
    background-color: #fff;
    border: none;
    margin: 0;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-default .navbar-nav > li > a {
	padding: 1.5em 3.2em;
    display: block;
    font-size: 1em;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	background: #fea600!important;
}
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);  
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:#fff;
  background: rgba(93, 121, 11, 0.98);
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -moz-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background: #fea600;
}
.navbar-nav > li.hvr-bounce-to-bottom > a:hover,.navbar-nav > li > a:hover {
    color: #fff !important;
	background: #fea600!important;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
   background: #fea600;
}



/*.slider {
    width:820px;
  min-height: 510px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    
}

@media (min-width: 768px) {
  .slider {
    width: 750px;
  }
}





.slide {
    position: absolute;
    top: 0;
    left: 0;

}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../img/paddle_next_fff.png);
}

.nav > li > a:hover, .nav > li > a:focus {
            color: #fff;
    background-color: #428bca;
}
.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}*/



/*#slides_control > div{
  height: 150px;
}
#slides_control > img{
  margin:auto;
  width: 200px;
}
#slides_control {
  position:absolute;
  width: 800px;
  margin-left: 160px;
 
}*/


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}






