<div class="container">
    <div class="row">
        <div class="">
            <h4 style="color:orange">Minutes of Meetings</h4>    
            <ul class="list-group">
                <li class="list-group-item">
                   
                    <!--<input class="form-control" placeholder="Seach MOM" type="text" ng-model="searchText">-->
                    <div class="class=" list-group-item">
                        <ul ng-repeat="momItem in vm.mom | orderBy: 'name' | filter: searchText">
                            <a target="_blank" href={{momItem.links}} filter searchText>{{momItem.name}}</a>
                        </ul>


                    </div>

                </li>
            </ul>
        </div>

    </div>


</div>
