

<div class="container">
    <div class="row login_box">
        <div class="col-md-12 col-xs-12" align="center">
            <div class="line"><h3>Welcome</h3></div>
            
        </div>
       
        <div class="col-md-12 col-xs-12 login_control">

            <div class="control">
                <div class="label">User Name</div>
                <input type="text" class="form-control" ng-model="vm.userName" />
            </div>

            <div class="control">
                <div class="label">Password</div>
                <input type="password" class="form-control" ng-model="vm.password" />
            </div>
            <div align="center">
                <button class="btn btn-orange" ng-click="vm.showLogin()">LOGIN</button>
            </div>

        </div>

    </div>
</div>