<div class="container">
    <div class="row">
        <div class="">
            <h4 style="color:blueviolet">Links</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    
                    <div class="class=" list-group-item">
                        <ul ng-repeat="linkItem in vm.link | orderBy: 'name' | filter: searchText">
                            <a target="_blank" href={{linkItem.links}} filter searchText>{{linkItem.name}}</a>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>

    </div>


</div>
