<div class="tablewrapper " >

    <div class="tablecssNew col-sm-4">

        <div class="rowcss headercss">
            <div class="cellcss">
                Committee Members
            </div>

        </div>
        <div class="rowcss">
            <div class="cellcss">
                <input class="form-control" placeholder="Seach Your Contacts" type="text" ng-model="searchText">
            </div>
            <!--<input placeholder="Seach Your Contacts" type="text" ng-model="searchText">-->
        </div>
        <div ng-repeat="contact in vm.contacts | orderBy: 'name' | filter: searchText" class="rowcss">
            <div class="cellcss">
                <a ui-sref="members.list({
    contactIndex:{{vm.contacts.indexOf(contact)}}
  })">{{contact.name}}</a>


            </div>



        </div>

    </div>
    <div class="col-sm-7">
        <div class="list-group panel-body">
            <div ui-view></div>
        </div>
    </div>
</div>
